.sidebar {
    align-items: flex-start;
    background-image: url('/images/bg-sidebar-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 170px;
    justify-content: center;
    width: 100%;
}

.stepList {
    counter-reset: item;
    display: flex;
    gap: 1rem;
    padding: 1.5rem 0;
}

.stepItem {
    counter-increment: item;

    &::before {
        content: counter(item);
        color: white;
        border-radius: 100%;
        border: 1px solid white;
        width: 2em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.stepContent {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        background-image: url('/images/bg-sidebar-desktop.svg');
        height: 200px;
        width: 100%;
    }
}