.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.form {
    background-color: white;
    border-radius: 1rem;
    margin-top: -4.5rem;
    max-width: 992px;
    padding: 1rem;
    width: calc(100% - 2rem);
}