.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.form {
    background-color: white;
    border-radius: 1rem;
    margin-top: -4.5rem;
    max-width: 992px;
    padding: 1rem;
    width: calc(100% - 2rem);
}

.primaryBtn {
    background-color: var(--blue-950);
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
}

.btnContainer {
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    padding: 1rem;
    position: fixed;
    width: 100%;
}