.title {
    color: var(--blue-950);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.description {
    color: var(--grey-500);
    margin: 0.5rem 0 0 0;
}

.label {
    color: var(--blue-950);
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    text-transform: capitalize;
}

.input {
    border: 1px solid var(--purple-200);
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.75rem;
    width: 100%;
}